.a*
.c*
.e*
.p*
.s*
*~
_build/
_install/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
nautilus-actions-*.tar.gz
run-configure.sh
trash/
