
[Desktop Entry]
Type=Menu
Name[en_US]=My First FileManager-Actions menu
Name[en]=My First FileManager-Actions menu
Name[C]=My First FileManager-Actions menu
ItemsList=my-first-action;show-parameters;open-terminal-here;
Tooltip[en_US]=Contains some default FileManager-Actions actions
Tooltip[en]=Contains some default FileManager-Actions actions
Tooltip[C]=Contains some default FileManager-Actions actions
Icon[en_US]=/usr/share/icons/hicolor/22x22/mimetypes/application-x-catalog.png
Icon[en]=/usr/share/icons/hicolor/22x22/mimetypes/application-x-catalog.png
Icon[C]=/usr/share/icons/hicolor/22x22/mimetypes/application-x-catalog.png
Enabled = false
