nautilus-actions-config-tool
nautilus-actions-config-tool.junk
C/html
de/html
de/nautilus-actions-config-tool.xml
es/html
es/nautilus-actions-config-tool.xml
sl/html
sl/nautilus-actions-config-tool.xml
